.main{
    section{
        .imgAboutUs{
            display: flex;
            justify-content: center;
            img{
                width: 700px;
                margin-bottom: 15px;
            }
            
        }
    }
}